<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882238690514-nql0cl7ekvq3plmnpf1ltauo4f314b4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882238690514-nql0cl7ekvq3plmnpf1ltauo4f314b4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCKeAfuxK763DiKY4SdmwJIeaCd5KNmiNA</string>
	<key>GCM_SENDER_ID</key>
	<string>882238690514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>shopping-bd-ingsft</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-bd-ingsft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882238690514:ios:9a4069f47fa910d554890b</string>
</dict>
</plist>